name: Go CI (Debug Clean)

on:
  push:
    branches: [ "main" ]

jobs:
  go-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Show workspace
        run: |
          echo "ROOT:"
          ls -la
          echo "APP:"
          ls -la app

      - name: Build Go application
        working-directory: app
        run: |
          go mod tidy
          go build -o app
