name: Secure CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-sign:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: false

      - name: Debug workspace
        run: |
          echo "ROOT:"
          ls -la
          echo "APP:"
          ls -la app
          echo "DOCKERFILE:"
          cat app/Dockerfile

      - name: Build Docker image
        run: |
          docker build \
            -t ghantotcon-cpu/cnd-project:latest \
            -f app/Dockerfile \
            .
