name: Go CI + Docker + Security

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build Go application
        working-directory: app
        run: |
          go mod tidy
          go build -o app

      - name: Build Docker image
        run: |
          docker build \
            -t ghantotcon-cpu/cnd-project:ci \
            -f app/Dockerfile \
            .

      # ===== SBOM =====
      - name: Install Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh \
          | sh -s -- -b /usr/local/bin

      - name: Generate SBOM
        run: |
          syft ghantotcon-cpu/cnd-project:ci -o spdx-json > sbom.json

      # ===== Security Scan =====
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.50.1_Linux-64bit.deb
          sudo dpkg -i trivy_0.50.1_Linux-64bit.deb

      - name: Scan image for vulnerabilities
        run: |
          trivy image \
            --severity HIGH,CRITICAL \
            --exit-code 0 \
            ghantotcon-cpu/cnd-project:ci

